* {
    margin: 0;
    padding: 0;
}

.background {
    margin: 0 auto;
    width: 100%;
    background: #FFFFFF;
    opacity: 1;
    /* border: 1px solid blue; */
}

/* 헤더 부분 */
.header {
    display: flex;
    align-items: center;
    margin-top: 66px;
    flex-shrink: 0;
}

.header>div {
    width: 300px;
}

.logo {
    /* margin-top: 66px; */
    /* margin-left: 904px; */
    margin-left: auto;
    margin-right: auto;
    width: 113px;
    height: 113px;
    opacity: 1;
    display: block;
    justify-content: center;
}

.user-interaction-wrap {
    display: block;
    overflow: hidden;
}

.login-in {
    /* cursor: pointer; */
    /* position: relative;
    bottom: 56px;
    left: 576px; */
    /* width: 90px; */
    /* height: 36px; */
    padding: 0 20px;
    font: normal normal normal 20px/55px Apple SD Gothic Neo;
    display: inline-block;
}

.sign-in {
    /* cursor: pointer; */
    /* position: relative;
    bottom: 56px;
    left: 567px; */
    /* width: 90px; */
    /* height: 36px; */
    padding: 0 20px;
    font: normal normal normal 20px/55px Apple SD GOthic Neo;
    display: inline-block;
    line-height: 20px;
    border-left: 1px solid #000000;
}

.login-in a, .sign-in a {
    text-decoration: none;
    color: #000000;
}

/* 계열 선택하기 */
.content-box {
    width: 900px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid mediumpurple; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content-box a {
    text-decoration: none;
    color: #000000;
}

.select-box {
    cursor: pointer;
    width: 350px;
    height: 350px;
    margin: 15px;
    box-sizing: border-box;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 5px #00000029;
    border: 1px solid #707070;
    border-radius: 30px;
    opacity: 1;

    flex-shrink: 0;

    text-align: center;
    font-size: 30px;
}

.logo-box {
    width: 150px;
    height: 150px;
    background: #0a090972;
    border: 1px solid #707070;
    border-radius: 45px;

    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

    /* 회전 */
    transform: rotate( 45deg );

    display: flex;
    align-items: center;
    justify-content: center;
}

.business-logo {
    width: 80px;
    height: 80px;

    transform: rotate(-45deg);
}

.business-name {
    margin-top: 50px;
}

/* 오른쪽 박스 */
/* #select-trans, #select-ser {
    margin-left: 54px;
} */
/* 밑의 박스 */
/* .bottom-box {
    margin-top: 41px;
} */

/* .box-text {
    margin: 100px 0px;
} */

/* 요기부터 온도 올라감 킹받음 */
/* .logo-box {
    width: 246px;
    height: 246px;
    border: 1px solid red;
    position: relative;
    top: 25%;
    left: 49.46px;
    background-color: #1D1D1D72;
} */

/* .logo2 {
    position: relative;
    top: 25%;
    margin-left: 71.04px;
    width: 103px;
    height: 109px;
    border: 1px solid pink;
    display: inline-block;
} */

/* 요기까지 */

/*  푸터 부분 */
footer {
    margin-top: 39.5px;
    width: 100%;
    height: 259px;
    background: #55585A;
}

#footer-nav {
    height: 187px;
}
#footer-info {
    border-top: 1px solid black;
    height: 72px;
}
.footer-info-text {
    margin-top: 16px;
    margin-left: 50px;
    font-size: 20px;
    color: #FFFFFF;
    opacity: 1;
}

