.background {
    margin: 0 auto;
    width: 1920px;
    background: #FFFFFF;
    opacity: 1;
    /* border: 1px solid blue; */
}

/* 헤더 부분 */
.logo {
    margin-top: 66px;
    margin-left: 904px;
    width: 113px;
    height: 113px;
    opacity: 1;
    display: inline-block;
}

.sign-in {
    position: relative;
    bottom: 56px;
    left: 567px;
    width: 90px;
    height: 36px;
    font: normal normal normal 20px/55px Apple SD GOthic Neo;

    text-align: left;
    display: inline-block;
}

.login-out {
    position: relative;
    bottom: 56px;
    left: 576px;
    width: 90px;
    height: 36px;
    font: normal normal normal 20px/55px Apple SD Gothic Neo;
    display: inline-block;
}

/* 계열 선택하기 */
.content-box {
    margin-top: 94.5px;
    margin-left: 88.5px;
    /* border: 1px solid mediumpurple; */
}

.select-box {
    width: 840px;
    height: 478px;
    display: inline-block;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 5px #00000029;
    border: 1px solid #707070;
    border-radius: 74px;
    opacity: 1;

    /* 임시 방편 */
    text-align: center;
    font-size: 55px;
}

/* 오른쪽 박스 */
#select-trans, #select-ser {
    margin-left: 54px;
}
/* 밑의 박스 */
.bottom-box {
    margin-top: 41px;
}

/* .box-text {
    margin: 100px 0px;
} */

.logo-box {
    width: 246px;
    height: 246px;
    border: 1px solid red;
    /* position: relative;
    top: 25%;
    left: 49.46px;
    background-color: #1D1D1D72; */
}

.logo2 {
    /* position: relative;
    top: 25%;
    margin-left: 71.04px; */
    width: 103px;
    height: 109px;
    border: 1px solid pink;
    /* display: inline-block; */
}


/*  푸터 부분 */
#footer {
    margin-top: 39.5px;
    width: 100%;
    height: 259px;
    background: #55585A 0% 0% no-repeat padding-box;
}

#footer-nav {
    height: 187px;
}
#footer-info {
    border-top: 1px solid black;
    height: 72px;
}
.footer-info-text {
    margin-top: 16px;
    margin-left: 50px;
    font-size: 20px;
    color: #FFFFFF;
    opacity: 1;
}

